/* Sidebar */

.main-sidebar{
    background: $orange;
    position: absolute;
    top: 0;
    right: 0; 
    min-height: 100%;
    width: $main-sidebar-width;
    z-index: 810;
    @include translate($main-sidebar-width, 0);
    @include transition(transform .3s ease-in-out,width .3s ease-in-out);
     
    .main-sidebar-open & {
        @include translate(0, 0);
    }
    
    a{
        color: $white;
    }
    
    /*drop down*/
    .dropdown .dropdown-menu{
        width: 100%;
        position: relative;  
    }  
    
}

