/* Main Content */
.main-wrapper,body{
    overflow-x: hidden;
}
main{  
    z-index: 800;
    @include prefix(transition, all .3s ease-in-out);
     
    
    //js open sidebar
    .main-sidebar-open &{ 
        @include prefix(translate, -$main-sidebar-width 0); 
        
        @media (min-width: $screen-sm) {  
			@include prefix(translate, 0 0); 
            margin-right: $main-sidebar-width;
        }
    } 
}